* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sens-serif;
  background-color: #f2f2f2; 
  font-weight: 300;
}

.wrapper {
  margin-top: 15px;
  margin-bottom: 70px; }

.wrapper-logo {
  margin-top: 25px;
  color: #4d4d4d;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer; }
.wrapper-logo a{
  text-decoration: none;
  color: #4d4d4d;
}
.wrapper-logo span {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0 8px;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #000;
  color: #4d4d4d; }

.wrapper-logo span:hover {
  color: #fff;
  background-color: #000; }

.topnav {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px; }

.topnav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  margin-right: 40px; }

.topnav a:hover:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid #4d4d4d; }

.topnav__icon {
  width: 18px;
  height: 18px; }

.menu {
  display: none; }

.wrapper-main {
  margin-top: 30px; }

.wrapper-main__title {
  font-size: 36px;
  color: #4d4d4d;
  font-weight: 300;
   }
.wrapper-main__text {
  margin-top: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #4d4d4d; }

.wrapper-main__line {
  margin-top: 5px;
  width: 70px;
  height: 2px;
  background-color: #4d4d4d; }

.wrapper-main__autor {
  padding: 50px 0 20px 0;
  font-weight: 500;
  font-size: 14px;
  color: #4d4d4d; }

.wrapper-main__img {
  margin-top: -65px; }

.wrapper-main__icons {
  margin-top: 20px;
  cursor: pointer;
  padding: 30px 0 30px 0; }

.wrapper-main__icons img {
  margin-right: 15px;
  border: 1px solid #000;
  padding: 4px; }

.wrapper-main__icons img:hover {
  opacity: .7; }

.button {
  margin-top: 15px;
  width: 180px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  outline: 0; }

.button:hover {
  color: #fff;
  background-color: #000; }

@media screen and (max-width: 991px) {
  .wrapper-two {
    text-align: center; }
  .wrapper {
    text-align: center; }
  .wrapper-logo {
    margin-bottom: 20px; }
  .wrapper-main {
    margin-top: -20px; }
  .wrapper-main__line {
    margin-left: 310px; }
  .wrapper-main__img {
    display: none; }
  body {
    background-color: #fff; } }

@media screen and (max-width: 767px) {
  .wrapper-two {
    text-align: center; }
  .wrapper {
    text-align: center; }
  .wrapper-logo {
    margin-bottom: 20px; }
  .wrapper-main {
    margin-top: -20px; }
  .wrapper-main__line {
    margin-left: 220px; }
  .wrapper-main__img {
    display: none; }
  body {
    background-color: #fff; } }

@media screen and (max-width: 576px) {
  .wrapper-main__line {
    display: none; 
} 
.text-center{
  text-align: center;
  padding: 15px;
}
.wrapper-main__icons{
  margin-left: 10px;
}

}

@media screen and (max-width: 404px) {
  .wrapper {
    position: relative; }
  .wrapper-logo {
    text-align: center; }
  .topnav a:not(:last-child) {
    display: none; }
  .topnav {
    position: absolute;
    right: 10px;
    top: -52px; }
  .topnav a.menu {
    display: block;
    float: left; }
  .wrapper-two {
    margin-top: -20px; }
  .button {
    margin-bottom: 10px; }
  /* Lab_one html css style */ }

.info {
  margin-bottom: 70px; }

.info__title {
  font-size: 36px;
  color: #4d4d4d; }

.info__line {
  margin-top: 5px;
  width: 70px;
  height: 3px;
  background-color: #4d4d4d; }

.info__text {
  margin-top: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #4d4d4d;
  align-text: justify; }

.info__text span {
  font-weight: bold;
  font-size: 20px; }

.info__ol {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #4d4d4d;
  margin-left: 15px;
  margin-top: 10px; }

.info__ol a {
  text-decoration: none;
  color: blue; }

.info__ol a:hover {
  color: #002966; }

.info ul {
  line-height: 24px;
  font-weight: 500;
  color: #4d4d4d;
  margin-left: 15px;
  margin-top: 10px; }

.info ul li {
  margin-bottom: 10px; }

.css-adaptive {
  display: block;
  max-width: 100%;
  height: auto; }

.title-two {
  text-align: center;
  margin-bottom: 30px; }

.text-two {
  text-align: justify;
  margin-bottom: 50px; }

.line-two {
  width: 60%;
  height: 1px;
  margin-left: 225px; }

.wrapper-info-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px; }

.shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }

.first-wrapper {
  margin-bottom: 80px; }

.vertical-line {
  margin-left: 80px;
  width: 3px;
  height: 270px;
  background-color: #4d4d4d; }

.footer{
  text-align: center;
  margin-bottom: 15px;
}

.wrapper-info-three{

}

.three__line{
  margin: 0 auto;
  width: 70px;
  height: 2px;
  background-color: #4d4d4d;

}
.three__title{
  text-align: center;
}
.three__text{
   color: #4d4d4d;
   margin-top: 70px;
   font-size: 18px;
}
.box{
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}
.three__ol{
  margin-top: 30px;
  line-height: 24px;
  text-align: center;
  list-style: none;
  font-size: 16px;
}
.three__ol a{
  text-decoration: none;
}
.three__ol a:hover{
  color: #002966;
}
.wrapper-three .text{
  color: #DCDCDC;
}
h2{
 font-size: 32px;
 margin: 30px 0;
 font-weight: 500;
}

.wrapper-four .text{
  padding: 20px 0 30px 0;
  text-align: center;
}
.wrapper-five h2{
  text-align: center; 
  color: #78abf3; 
}
h3{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #78abf3; 
  padding: 10px 0 30px 0;
}
.wrapper-six h2{
  text-align: center; 
  color: #78abf3; 
  padding-bottom: 15px;
}
.wrapper-six p{
    font-weight: 500;
    padding: 10px;
}
img{
  max-width: 100%;
  height: auto;
}